.price-reviews-container {
  display: flex;
  align-items: flex-end;
}

.price-reviews-container__price {
  flex: 1 0 auto;
}

.price-reviews-container__reviews {
  flex: 1 0 auto;
}

.price-container__rating {
  color: #00CC00;
}

.reviews-container__stars {
  float: left;
  padding-top: 3px;
}

.reviews-container__review {
  float: left;
}