.price-reviews-container {
  @media screen and (min-width: 481px) {
    display: flex;
    align-items: flex-end;
  }
}

.price-reviews-container__price {
  @media screen and (min-width: 481px) {
    flex: 1 0 auto;
  }
}
.price-reviews-container__reviews {
  @media screen and (min-width: 481px) {
    flex: 1 0 auto;
  }
}

.price-container__rating {
  display: none;

  @media screen and (min-width: 481px) {
    display: block;
    margin-bottom: 4px;
    color: #00CC00;
  }
}

.price-reviews-container__review {
  margin-top: 8px;
  margin-bottom: 24px;

  @media screen and (min-width: 481px) {
    margin-top: initial;
    margin-bottom: initial;
  }
}

.reviews-container__stars {
  float: left;
  padding-top: 3px;
}

.reviews-container__review {
  margin-left: 8px;
  float: left;
}