.features-container {
  @media screen and (min-width: 481px) {
    display: flex;
    width: 70%;
  }

  > div {
    display: inline;
    position: relative;

    &:after {
      @media screen and (max-width: 480px) {
        content: '.';
        margin-left: 3px;
        position: absolute;
        top: 33%;
        transform: translateY(-50%);
      }
    }
  }
}

.features-container__title {
  display: inline;
  font-size: 14px;
  margin-right: 5px;

  @media screen and (min-width: 481px) {
    font-size: 16px;
    display: block;
    margin-right: 0;
  }
}

.features-container__amount {
  display: inline;
  font-size: 14px;
  font-family: 'roboto_regular';
  font-weight: normal;

  @media screen and (min-width: 481px) {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: 'roboto_bold';
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: .1em;
  }
}

.features-container__bedrooms {
  padding: 0 10px;

  @media screen and (min-width: 481px) {
    margin: 0 15px;
    padding: 0 15px;
    position: relative;
  }

  &:after {
    @media screen and (min-width: 481px) {
      content: ' ';
      background: #d7d8da;
      width: 1px;
      display: block;
      height: 1.5em;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &:before {
    @media screen and (min-width: 481px) {
      content: ' ';
      background: #d7d8da;
      width: 1px;
      display: block;
      height: 1.5em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.features-container__bathrooms {
  &:after {
    display: none;
  }
}